@model StudentManagementSystem.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h2>Student Details</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
    </dl>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</div>
